.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #028f2cea;
  line-height: 1.5;
  transition: color 250ms linear;
}

.link:hover {
  color: #0a5b22ea;
}
