.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}
.logoutBtn {
  background-color: #059d81;
}
@media screen and (max-width: 376px) {
  .username {
    display: none;
  }
}
